---
import Layout from "../../layouts/MainLayout.astro";
import type { WorkPlan } from "../../lib/data";
import type { Activity } from "../../lib/data";
import { workPlans } from "../../lib/data";

const { id } = Astro.params;

const workPlan = workPlans.find((workPlan: WorkPlan) => workPlan.id === id);
---

<Layout title="GuíaTEC" userType="asistente" currentRoute="equipo">
  <div class="container">
    <h1>Plan de Trabajo</h1>
    <p>Plan de Trabajo con id: {id}</p>
    <button class="">Nueva</button>
    <button class="">Configurar</button>
  </div>
  <div>
    <aside>
      <h2>Actividades</h2>
      <ul>
        {
          workPlan?.activities.map((activity: Activity) => (
            <li>
              <a href={`/actividades/${activity?.week}`}>{activity.name}</a>
            </li>
          ))
        }
      </ul>
    </aside>
  </div>
</Layout>
