---
import Layout from "@/layouts/Layout.astro";
import Input from "@/components/Input.tsx";
import SubmitButton from "@/components/SubmitButton.astro";
---

<Layout title="Nueva contraseña" subtitle="Cree una nueva contraseña">
    <div class="w-5/6 lgn:w-5/6 mt-7 flex flex-col gap-5">
        <form
            action="/"
            method="post"
            autocomplete="off"
            class="flex flex-col gap-5"
        >
            <Input
                title="Nueva contraseña"
                formType="password"
                placeHolderLG="Ingrese su nueva contraseña"
                placeHolderSM="Nueva contraseña"
                logo="/password.svg"
                client:only
            />
            <Input
                title="Confirmar contraseña"
                formType="password"
                placeHolderLG="Confirme su nueva contraseña"
                placeHolderSM="Confirmar contraseña"
                logo="/password.svg"
                client:only
            />

            <SubmitButton text="Validar" />
        </form>
    </div>
</Layout>
