---
import Layout from "../layouts/MainLayout.astro";
---

<Layout title="GuíaTEC" userType="asistente" currentRoute="equipo">
  <h1 class="">Equipo</h1>
  <h2>informacion del equipo</h2>
  <button>Añadir</button>
  <button>Configurar</button>
  <br />
  <!-- Componentes para ver planes y miembros -->
</Layout>
